*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.smartphone,.fotocamere,.portatili{
    background-color: red;
    height: 300px;
    width: 300px;
    border-radius: 6px;
    border-color: black;
    display: inline-block;
    position: relative;
}
.space{
    background-color: white;
}
span{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0px;
    right: 0px;
    background-color: lightblue;
}
.smartphone{
background-image: url(img/smartphone.jpg);
}
.fotocamere{
    background-image: url(img/fotocamere.jpg);
}
.portatili{
    background-image: url(img/portatili.jpg);
}
h1{
    position: absolute;
    text-align: center;
    display: none;
    color: black;
}
.portatili:hover h1{
    display: block;
}
.smartphone:hover h1{
    display: block;
}
.fotocamere:hover h1{
    display: block;
}
